$headline-font: 'IBM Plex Sans', sans-serif;
$text-font: 'Rubik', sans-serif;

#home-headline{
  text-align: center;
  font-size: 3rem;
  padding: 1% 0;
  color: #155932;
}

h1, h2, h3 {
  font-family: $headline-font;
}

p, plain-text {
  font-family: $text-font;
}

.header {
  background-color: #155932;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
}

.logo {
  float: left;
  width: 5%;
}

.other-info {
  padding-left: 20%;
  width: 50%;
}

.price {
  color: red;
}

.product-card {
  margin: 20px 5%;
  width: 40%;
  text-align: center;
  float:left;
}

.product-card-img {
  height: 10rem;
}

.product-img {
  height: 20rem;
  float: left;
}

.product-page {
  padding: 0 3%;
}
