$headline-font: 'IBM Plex Sans', sans-serif;
$text-font: 'Rubik', sans-serif;

h1, h2, h3 {
  font-family: $headline-font;
}

p, plain-text {
  font-family: $text-font;
}

.header {
  background-color: #155932;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
}

.logo {
  float: left;
  width: 5%;
}

.product-img {
  height: 20rem;
}

.product-page {
  padding: 0 3%;
}
